<div class="w-100 text-center page">
  <h1 class="fadeIn animated">Bienvenue</h1>
  <p class="fadeIn animated" style="animation-delay: 1s">
    Vous êtes connecté en tant que <b><%= current_client.email %></b>
  </p>
</div>
