<div class="w-100 text-center page">
  <img class="flipInY animated"src="/images/psg.png" height="300" alt="">
  <h1 class="fadeIn animated mt-4" style="animation-delay: 1s">Ici c'est PSG</h1>
</div>
