
<div class="w-100 text-center page">
  <h1 class="fadeIn animated">Bienvenue</h1>
  <p  class="fadeIn animated" style="animation-delay: 1s">
    Connctez-vous <a href="/clients/sign_in">ici</a>
  </p>
</div>
